<div>
    <h3>Edit Post</h3>
    <form>
        <label for="post-title">Title</label>
        <input name="post-title" type="text" value="{{post.title}}"/>
        <label for="content">Content</label>
        <input name="content" type="text" value="{{post.content}}"/>
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post-btn">Delete Post</button>
    </form>
</div>

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>